@page "/Adminpagetest"

<h3>Adminpagetest</h3>
<AuthorizeView Roles="Admin">
    <Authorized>
        You can only see this if u are an admin.
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {

}
