@page "/getDays"
@inject HttpClient Http
@inject NavigationManager NavManager
@using BlazorApp.Models

<AuthorizeView>
    <Authorized>
        @if (getdays.Days == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="row">

                @foreach (var day in getdays.Days)
                {

                    <div class="col-sm-6 mb-2" @onclick="(e=>NavToDay(day.DayId))">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@day.NameOfDay</h5>
                                @if (day.TodoTasks.Count <= 0)
                                {
                                    <p class="card-text">No tasks for this day yet.</p>
                                }
                                else
                                {
                                    foreach (var todoTask in day.TodoTasks)
                                    {
                                        <p class="card-text">
                                            @todoTask.Description
                                            @if (todoTask.IsCompleted)
                                            {
                                                <i class="fa fa-check"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-times"></i>
                                            }
                                        </p>

                                    }
                                }
                            </div>
                        </div>
                    </div>


                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code {

    private GetDays getdays = new GetDays();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            getdays = await Http.GetFromJsonAsync<GetDays>("/api/getDays");
        }
        catch
        {
            Console.WriteLine("Something went wrong");
        }
    }

    public void NavToDay(int dayId)
    {
        NavManager.NavigateTo("/dayOfweek/" + dayId);
    }
}
