@page "/getDays"
@inject HttpClient Http
@inject NavigationManager NavManager
@using BlazorApp.Models


@if (days == null)
{
    <p>Loading...</p>
}
else
{

    foreach (var day in days)
    {
        <div @onclick="(e=>NavToDay(day.DayId))">
            <p>@day.NameOfDay</p>
            @if (day.TodoTasks.Count <= 0)
            {
                <p>No tasks for this day yet.</p>
            }
            else
            {
                foreach (var todoTask in day.TodoTasks)
                {
                    <p>@todoTask.Description @todoTask.IsCompleted</p>
                }
            }
        </div>


    }
}
@code {

    private Day[] days;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            days = await Http.GetFromJsonAsync<Day[]>("/api/getDays");
        }
        catch
        {
            Console.WriteLine("Something went wrong");
        }
    }

    public void NavToDay(int dayId)
    {
        NavManager.NavigateTo("/dayOfweek/" + dayId);
    }
}
