@inject HttpClient Http
@using BlazorApp.Models
@inject NavigationManager NavManager

<AuthorizeView Context="AuthorizedView">
    <Authorized>
        <EditForm Model="editTodoTask" OnValidSubmit="UpdateTodoTask">
            <DataAnnotationsValidator />
            <div class="form-row mt-5">
                <div class="form-group col-md">
                    <label for="description">Description</label>
                    <InputText id="description" class="form-control" @bind-Value="editTodoTask.Description" />
                    <ValidationMessage For="@(() => editTodoTask.Description)" />

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md text-right">
                    <input type="submit" class="btn btn-success" value="edit" />
                </div>
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@if (Message != null)
{
    <p class="alert">@Message</p>
}
@code {
    [CascadingParameter]
    public int Id { get; set; }

    private TodoTask editTodoTask { get; set; } = new TodoTask();
    private string Message { get; set; } = null;
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    protected override void OnInitialized()
    {
        if (!AuthState.Result.User.Identity.IsAuthenticated)
        {   
            NavManager.NavigateTo("/login");
        }
    }
    private async Task UpdateTodoTask()
    {
        editTodoTask.TodoTaskId = Id;
        var response = await Http.PostAsJsonAsync<TodoTask>("api/todoTask/update", editTodoTask);
        if (response.IsSuccessStatusCode)
        {
            Message = "Sucessfully updated the task";
        }
        else
        {
            Message = "Could not update task, try again";
        }
    }
}
